.black-and-white .menu-icons {
    background-color: #111;
}

.black-and-white .menu-button svg {
    fill: #fff;
}

.black-and-white .menu-content {
    background: #fff;
    box-shadow: 0 0 1px #000;
}

.black-and-white .menu-categories > li > header {
    background: #222;
    color: #fff;
    border-color: #fff;
}

.black-and-white .menu-categories > li > header:hover, .black-and-white .menu-categories > li > header.selected-header {
    background: #333;
}

.black-and-white .menu-category-list > li > header {
    color: #000;
}

.black-and-white .menu-category > li {
    color: #000;
}

.black-and-white .menu-category li:hover {
    background: #ddd;
}

.black-and-white .menu-category .selected {
    background: #ccc;
}

.black-and-white::-webkit-scrollbar-track, .black-and-white .menu-category-list::-webkit-scrollbar-track {
    background: transparent;
}

.black-and-white::-webkit-scrollbar-thumb, .black-and-white .menu-category-list::-webkit-scrollbar-thumb {
    background: #ddd;
}

.black-and-white::-webkit-scrollbar-thumb:hover, .black-and-white .menu-category-list::-webkit-scrollbar-thumb:hover {
    background: #bababa;
}

.black-and-white, .black-and-white .content-area, .black-and-white .content-area * {
    background: #fff;
    border-color: #ddd;
}

.black-and-white .content-area {
    color: #000;
}

.black-and-white .content-area a[href^="http"] {
    color: rgb(45, 59, 185);
}

.black-and-white .content-area a[href^="http"]:visited {
    color: rgb(139, 36, 208);
}

.black-and-white .menu-button .menu-icon-svg{
    fill: rgb(170, 170, 170);
}

.black-and-white .menu-button:hover .menu-icon-svg, .black-and-white .menu-high-brightness .menu-icon-svg {
    fill: rgb(255, 255, 255);
}