.dark .menu-icons {
    background-color: rgb(51, 51, 51);
}

.dark .menu-button svg {
    fill: #fff;
}

.dark .menu-content {
    background: rgb(37, 37, 38);
    box-shadow: 0 0 3px rgb(37, 37, 38);
}

.dark .menu-categories > li > header {
    background: rgb(56, 56, 56);
    color: rgb(204, 204, 204);
    border-color: rgb(37, 37, 38);
}

.dark .menu-categories > li > header:hover {
    background: rgb(49, 48, 48);
}

.dark .menu-category-list > li > header {
    color: rgb(204, 204, 204);
}

.dark .menu-category > li {
    color: rgb(204, 204, 204);
}

.dark .menu-category li:hover {
    background: rgb(42, 45, 46);
}

.dark .menu-category .selected {
    background: rgb(55, 55, 61);
}

.dark .menu-category-list::-webkit-scrollbar-track {
    background: transparent;
}

.dark .menu-category-list::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
}

.dark .menu-category-list::-webkit-scrollbar-thumb:hover {
    background: rgb(79, 79, 79);
}

.dark, .dark .content-area, .dark .content-area * {
    background: rgb(30, 30, 30);
    border-color: rgb(44, 43, 43);
}

.dark .content-area {
    color: rgb(204, 204, 204);
}

.dark .content-area a {
    color: rgb(66, 165, 245);
}

.dark .content-area a:visited {
    color: rgb(139, 36, 208);
}