.dracula .menu-icons {
    background-color: rgb(52, 55, 70);
}

.dracula .menu-content {
    background: rgb(33, 34, 44);
    box-shadow: 0 0 3px rgb(33, 34, 44);
}

.dracula .menu-categories > li > header {
    background: rgb(54, 57, 75);
    color: rgb(248, 248, 242);
    border-color: rgb(33, 34, 44);
}

.dracula .menu-categories > li > header:hover, .dracula .menu-categories > li > header.selected-header {
    background: rgb(47, 50, 66);
}

.dracula .menu-category-list > li > header {
    color: rgb(248, 248, 242);
}

.dracula .menu-category > li {
    color: rgb(248, 248, 242);
}

.dracula .menu-category li:hover {
    background: rgb(49, 50, 65);
}

.dracula .menu-category .selected {
    background: rgb(49, 50, 65);
}

.dracula::-webkit-scrollbar-track, .dracula .menu-category-list::-webkit-scrollbar-track {
    background: transparent;
}

.dracula::-webkit-scrollbar-thumb, .dracula .menu-category-list::-webkit-scrollbar-thumb {
    background: rgb(72, 73, 80);
}

.dracula::-webkit-scrollbar-thumb:hover, .dracula .menu-category-list::-webkit-scrollbar-thumb:hover {
    background: rgb(82, 83, 86);
}

.dracula, .dracula .content-area, .dracula .content-area * {
    background: rgb(40, 42, 54);
    border-color: rgb(53, 56, 75);
}

.dracula .content-area {
    color: rgb(248, 248, 242);
}

.dracula .content-area a[href^="http"] {
    color: rgb(66, 165, 245);
}

.dracula .content-area a[href^="http"]:visited {
    color: rgb(175, 9, 190);
}

.dracula .menu-button .menu-icon-svg, .dracula .menu-low-brightness .menu-icon-svg {
    fill: rgb(98, 114, 164);
}

.dracula .menu-button:hover .menu-icon-svg, .dracula .menu-high-brightness .menu-icon-svg {
    fill: #fff;
}