.kimbie-dark .menu-icons {
    background-color: rgb(34, 26, 15);
}

.kimbie-dark .menu-button svg {
    fill: rgb(190, 157, 119);
}

.kimbie-dark .menu-content {
    background: rgb(54, 39, 18);
    box-shadow: 0 0 3px rgb(54, 39, 18);
}

.kimbie-dark .menu-categories > li > header {
    background: rgb(69, 57, 40);
    color: rgb(204, 204, 204);
    border-color: rgb(54, 39, 18);
}

.kimbie-dark .menu-categories > li > header:hover {
    background: rgb(88, 67, 36);
}

.kimbie-dark .menu-category-list > li > header {
    color: rgb(204, 204, 204);
}

.kimbie-dark .menu-category > li {
    color: rgb(204, 204, 204);
}

.kimbie-dark .menu-category li:hover {
    background: rgb(81, 55, 24);
}

.kimbie-dark .menu-category .selected {
    background: rgb(100, 83, 66);
}

.kimbie-dark::-webkit-scrollbar-track, .kimbie-dark .menu-category-list::-webkit-scrollbar-track {
    background: transparent;
}

.kimbie-dark::-webkit-scrollbar-thumb, .kimbie-dark .menu-category-list::-webkit-scrollbar-thumb {
    background: rgb(81, 71, 59);
}

.kimbie-dark::-webkit-scrollbar-thumb:hover, .kimbie-dark .menu-category-list::-webkit-scrollbar-thumb:hover {
    background: rgb(86, 82, 75);
}

.kimbie-dark, .kimbie-dark .content-area, .kimbie-dark .content-area * {
    background: rgb(44, 33, 18);
    border-color: rgb(68, 51, 27);
}

.kimbie-dark .content-area {
    color: rgb(204, 204, 204);
}

.kimbie-dark .content-area a {
    color: rgb(66, 165, 245);
}

.kimbie-dark .content-area a:visited {
    color: rgb(139, 36, 208);
}