.light-blue .menu-icons {
    background-color: #404070;
}

.light-blue .menu-button svg {
    fill: #fff;
}

.light-blue .menu-content {
    background: #cce;
    box-shadow: 0 0 3px #117;
}

.light-blue .menu-categories > li > header {
    background: #505080;
    color: #fff;
    border-color: #cce;
}

.light-blue .menu-categories > li > header:hover {
    background: #434370;
}

.light-blue .menu-category-list > li > header {
    color: #224;
}

.light-blue .menu-category > li {
    color: #224;
}

.light-blue .menu-category li:hover {
    background: #aac;
}

.light-blue .menu-category .selected {
    background: #bbd;
}

.light-blue .menu-category-list::-webkit-scrollbar-track {
    background: transparent;
}

.light-blue .menu-category-list::-webkit-scrollbar-thumb {
    background: #aac;
}

.light-blue .menu-category-list::-webkit-scrollbar-thumb:hover {
    background: #77a;
}

.light-blue, .light-blue .content-area, .light-blue .content-area * {
    background: rgb(219, 219, 248);
    border-color: rgb(193, 193, 214);
}

.light-blue .content-area {
    color: #224;
}

.light-blue .content-area a {
    color: rgb(45, 59, 185);
}

.light-blue .content-area a:visited {
    color: rgb(139, 36, 208);
}