.light-blue .menu-icons {
    background-color: #404070;
}   

.light-blue .menu-content {
    background: #cce;
    box-shadow: 0 0 3px #117;
}

.light-blue .menu-categories > li > header {
    background: #505080;
    color: #fff;
    border-color: #cce;
}

.light-blue .menu-categories > li > header:hover, .light-blue .menu-categories > li > header.selected-header {
    background: #434370;
}

.light-blue .menu-category-list > li > header {
    color: #224;
}

.light-blue .menu-category > li {
    color: #224;
}

.light-blue .menu-category li:hover {
    background: #aac;
}

.light-blue .menu-category .selected {
    background: #bbd;
}

.light-blue::-webkit-scrollbar-track, .light-blue .menu-category-list::-webkit-scrollbar-track {
    background: transparent;
}

.light-blue::-webkit-scrollbar-thumb, .light-blue .menu-category-list::-webkit-scrollbar-thumb {
    background: #aac;
}

.light-blue::-webkit-scrollbar-thumb:hover, .light-blue .menu-category-list::-webkit-scrollbar-thumb:hover {
    background: #77a;
}

.light-blue, .light-blue .content-area, .light-blue .content-area * {
    background: rgb(219, 219, 248);
    border-color: rgb(34, 34, 68, 0.04);
}

.light-blue .content-area {
    color: rgb(34, 34, 68);
}

.light-blue .content-area a[href^="http"] {
    color: rgb(45, 59, 185);
}

.light-blue .content-area a[href^="http"]:visited {
    color: rgb(139, 36, 208);
}

.light-blue .menu-button .menu-icon-svg , .light-blue .menu-low-brightness .menu-icon-svg {
    fill: rgb(200, 200, 200);
}

.light-blue .menu-button:hover .menu-icon-svg, .light-blue .menu-high-brightness .menu-icon-svg {
    fill: rgb(255, 255, 255);
}