.light .menu-icons {
    background-color: rgb(44, 44, 44);
}

.light .menu-button svg {
    fill: #fff;
}

.light .menu-content {
    background: rgb(243, 243, 243);
    box-shadow: 0 0 3px #444;
}

.light .menu-categories > li > header {
    background: rgb(221, 221, 221);
    color: rgb(97, 97, 97);
    border-color: rgb(243, 243, 243);
}

.light .menu-categories > li > header:hover, .light .menu-categories > li > header.selected-header {
    background: rgb(200, 200, 200);
}

.light .menu-category-list > li > header {
    color: rgb(97, 97, 97);
}

.light .menu-category > li {
    color: rgb(97, 97, 97);
}

.light .menu-category li:hover {
    background: rgb(232, 232, 232);
}

.light .menu-category .selected {
    background: rgb(228, 230, 241);
}

.light::-webkit-scrollbar-track, .light .menu-category-list::-webkit-scrollbar-track {
    background: transparent;
}

.light::-webkit-scrollbar-thumb, .light .menu-category-list::-webkit-scrollbar-thumb {
    background: rgb(186, 186, 186);
}

.light::-webkit-scrollbar-thumb:hover, .light .menu-category-list::-webkit-scrollbar-thumb:hover {
    background: rgb(142, 142, 142);
}

.light, .light .content-area, .light .content-area * {
    background: #fff;
    border-color: #ddd;
}

.light .content-area {
    color: #333;
}

.light .content-area a[href^="http"] {
    color: rgb(45, 59, 185);
}

.light .content-area a[href^="http"]:visited {
    color: rgb(139, 36, 208);
}