.monokai-dimmed .menu-icons {
    background-color: rgb(53, 53, 53);
}

.monokai-dimmed .menu-content {
    background: rgb(39, 39, 39);
    box-shadow: 0 0 3px rgb(39, 39, 39);
}

.monokai-dimmed .menu-categories > li > header {
    background: rgb(80, 80, 80);
    color: rgb(204, 204, 204);
    border-color: rgb(39, 39, 39);
}

.monokai-dimmed .menu-categories > li > header:hover, .monokai-dimmed .menu-categories > li > header.selected-header {
    background: rgb(63, 62, 62);
}

.monokai-dimmed .menu-category-list > li > header {
    color: rgb(204, 204, 204);
}

.monokai-dimmed .menu-category > li {
    color: rgb(204, 204, 204);
}

.monokai-dimmed .menu-category li:hover {
    background: rgb(68, 68, 68);
}

.monokai-dimmed .menu-category .selected {
    background: rgb(78, 78, 78);
}

.monokai-dimmed::-webkit-scrollbar-track, .monokai-dimmed .menu-category-list::-webkit-scrollbar-track {
    background: transparent;
}

.monokai-dimmed::-webkit-scrollbar-thumb, .monokai-dimmed .menu-category-list::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
}

.monokai-dimmed::-webkit-scrollbar-thumb:hover, .monokai-dimmed .menu-category-list::-webkit-scrollbar-thumb:hover {
    background: rgb(79, 79, 79);
}

.monokai-dimmed, .monokai-dimmed .content-area, .monokai-dimmed .content-area * {
    background: rgb(30, 30, 30);
    border-color: rgb(204, 204, 204, 0.025);
}

.monokai-dimmed .content-area {
    color: rgb(204, 204, 204);
}

.monokai-dimmed .content-area a[href^="http"] {
    color: rgb(66, 165, 245);
}

.monokai-dimmed .content-area a[href^="http"]:visited {
    color: rgb(139, 36, 208);
}

.monokai-dimmed .menu-button .menu-icon-svg, .monokai-dimmed .menu-low-brightness .menu-icon-svg {
    fill: rgb(174, 174, 174);
}

.monokai-dimmed .menu-high-brightness .menu-icon-svg {
    fill: rgb(255, 255, 255);
}

@media (hover: hover) {
    .monokai-dimmed .menu-button:hover .menu-icon-svg {
        fill: rgb(255, 255, 255);
    }
}