.monokai .menu-icons {
    background-color: rgb(39, 40, 34);
}

.monokai .menu-content {
    background: rgb(30, 31, 28);
    box-shadow: 0 0 3px rgb(30, 31, 28);
}

.monokai .menu-categories > li > header {
    background: rgb(50, 51, 40);
    color: rgb(204, 204, 204);
    border-color: rgb(30, 31, 28);
}

.monokai .menu-categories > li > header:hover, .monokai .menu-categories > li > header.selected-header {
    background: rgb(58, 59, 47);
}

.monokai .menu-category-list > li > header {
    color: rgb(204, 204, 204);
}

.monokai .menu-category > li {
    color: rgb(204, 204, 204);
}

.monokai .menu-category li:hover {
    background: rgb(62, 61, 50);
}

.monokai .menu-category .selected {
    background: rgb(65, 67, 57);
}

.monokai::-webkit-scrollbar-track, .monokai .menu-category-list::-webkit-scrollbar-track {
    background: transparent;
}

.monokai::-webkit-scrollbar-thumb, .monokai .menu-category-list::-webkit-scrollbar-thumb {
    background: rgb(71, 72, 68);
}

.monokai::-webkit-scrollbar-thumb:hover, .monokai .menu-category-list::-webkit-scrollbar-thumb:hover {
    background: rgb(82, 82, 80);
}

.monokai, .monokai .content-area, .monokai .content-area * {
    background: rgb(45, 46, 39);
    border-color: rgb(67, 68, 57);
}

.monokai .content-area {
    color: rgb(204, 204, 204);
}

.monokai .content-area a[href^="http"] {
    color: rgb(66, 165, 245);
}

.monokai .content-area a[href^="http"]:visited {
    color: rgb(139, 36, 208);
}

.monokai .menu-button .menu-icon-svg{
    fill: rgb(164, 165, 158);
}

.monokai .menu-button:hover .menu-icon-svg, .monokai .menu-high-brightness .menu-icon-svg {
    fill: rgb(255, 255, 255);
}