.red .menu-icons {
    background-color: rgb(88, 0, 0);
}

.red .menu-content {
    background: rgb(51, 0, 0);
    box-shadow: 0 0 3px rgb(51, 0, 0);
}

.red .menu-categories > li > header {
    background: rgb(67, 26, 26);
    color: rgb(204, 204, 204);
    border-color: rgb(51, 0, 0);
}

.red .menu-categories > li > header:hover, .red .menu-categories > li > header.selected-header {
    background: rgb(75, 16, 16);
}

.red .menu-category-list > li > header {
    color: rgb(204, 204, 204);
}

.red .menu-category > li {
    color: rgb(204, 204, 204);
}

.red .menu-category li:hover {
    background: rgb(128, 0, 0);
}

.red .menu-category .selected {
    background: rgb(119, 0, 0);
}

.red::-webkit-scrollbar-track, .red .menu-category-list::-webkit-scrollbar-track {
    background: transparent;
}

.red::-webkit-scrollbar-thumb, .red .menu-category-list::-webkit-scrollbar-thumb {
    background: rgb(79, 48, 48);
}

.red::-webkit-scrollbar-thumb:hover, .red .menu-category-list::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 70, 70);
}

.red, .red .content-area, .red .content-area * {
    background: rgb(57, 0, 0);
    border-color: rgb(204, 204, 204, 0.025);
}

.red .content-area {
    color: rgb(204, 204, 204);
}

.red .content-area a[href^="http"] {
    color: rgb(66, 165, 245);
}

.red .content-area a[href^="http"]:visited {
    color: rgb(139, 36, 208);
}

.red .menu-button .menu-icon-svg, .red .menu-low-brightness .menu-icon-svg {
    fill: rgb(188, 153, 153);
}

.red .menu-high-brightness .menu-icon-svg {
    fill: rgb(255, 255, 255);
}

@media (hover: hover) {
    .red .menu-button:hover .menu-icon-svg {
        fill: rgb(255, 255, 255);
    }
}