.solarized-light .menu-icons {
    background-color: rgb(221, 214, 193);
}

.solarized-light .menu-content {
    background: rgb(238, 232, 213);
    box-shadow: 0 0 1px rgb(88, 76, 39);
}

.solarized-light .menu-categories > li > header {
    background: rgb(217, 212, 197);
    color: rgb(104, 104, 103);
    border-color: rgb(238, 232, 213);
}

.solarized-light .menu-categories > li > header:hover, .solarized-light .menu-categories > li > header.selected-header {
    background: rgb(197, 191, 174);
}

.solarized-light .menu-category-list > li > header {
    color: rgb(104, 104, 103);
}

.solarized-light .menu-category > li {
    color: rgb(104, 104, 103);
}

.solarized-light .menu-category li:hover {
    background: rgb(234, 224, 193);
}

.solarized-light .menu-category .selected {
    background: rgb(209, 203, 184);
}

.solarized-light::-webkit-scrollbar-track, .solarized-light .menu-category-list::-webkit-scrollbar-track {
    background: transparent;
}

.solarized-light::-webkit-scrollbar-thumb, .solarized-light .menu-category-list::-webkit-scrollbar-thumb {
    background: rgb(183, 179, 168);
}

.solarized-light::-webkit-scrollbar-thumb:hover, .solarized-light .menu-category-list::-webkit-scrollbar-thumb:hover {
    background: rgb(141, 139, 133);
}

.solarized-light, .solarized-light .content-area, .solarized-light .content-area * {
    background: rgb(253, 246, 227);
    border-color: rgb(212, 206, 190);
}

.solarized-light .content-area {
    color: rgb(88, 76, 39);
}

.solarized-light .content-area a[href^="http"] {
    color: rgb(46, 148, 231);
}

.solarized-light .content-area a[href^="http"]:visited {
    color: rgb(139, 36, 208);
}

.solarized-light .menu-button .menu-icon-svg{
    fill: rgb(140, 131, 100);
}

.solarized-light .menu-button:hover .menu-icon-svg, .solarized-light .menu-high-brightness .menu-icon-svg {
    fill: rgb(88, 76, 39);
}