.content-area {
    padding: 0 40px;
    max-width: 950px;
    margin: 0 auto;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.content-area > *:first-child {
    margin-top: 0;
}

.content-area > *:last-child {
    margin-bottom: 30px;
}

.content-area img {
    width: 100%;
    margin-top: 10px;
}

.content-area h1 {
    margin-top: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
    font-size: 2.0em;
}

.content-area h2 {
    margin-top: 1em;
    padding-bottom: 0.2em;
    font-size: 1.5em;
    border-bottom: 1px solid #ddd;
}

.content-area p {
    margin-top: 1em;
    line-height: 1.6em;
}

.content-area ul {
    margin-top: 1em;
    margin-left: 2em;
    line-height: 1.5em;
}

.content-area ul ul {
    margin-top: 0;
}

.content-area li {
    list-style-type: disc;
}

.content-area li li {
    list-style-type: circle;
}

.content-area li li li {
    list-style-type: square;
}

.content-area a {
    text-decoration: none;
    color: inherit;
}

.content-area a {
    pointer-events: none;
}

.content-area a[href^="http"] {
    pointer-events: all;
}

@media only screen and (max-width: 1030px) {
    .content-area {
        padding: 0 20px;
        border: none;
    }
}