@font-face {
    font-family: 'Home Title';
    src: url('./fonts/LCDWinTT/LCD-BOLD.TTF');
}

body[data-state="home"] {
    background-image: url('../images/alexandre-debieve-FO7JIlwjOtU-unsplash3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

body[data-state="home"] .content-area, body[data-state="home"] .content-area > * {
    background: transparent;
    margin: 0;
    padding: 0;
}

body[data-state="home"] .content-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: none;
    background: rgba(0, 0, 0, 0.6);
}

body[data-state="home"] .content-area h1 {
    color: white;
    font-size: 7vw;
    font-family: 'Home Title';
    letter-spacing: 0.1em;
    transform: scale(1, 1.5);
    text-align: center;
    user-select: none;
    z-index: 1;
}

.background-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: none;
}

.background-mask[data-display="show"] {
    display: block;
}