html, body {
    height: 100%;
    background: transparent;
}

body {
    font-size: medium;
    margin-left: 60px;
    padding-top: 30px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

* {
    list-style-type: none;
}

.menu-content {
    display: none;
}

body::-webkit-scrollbar {
    width: 10px;
}