html, body {
    font-size: normal;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: transparent;
}

body {
    margin-left: 60px;
}

* {
    list-style-type: none;
}

.menu-content {
    display: none;
}