.menu-content {
    position: fixed;
    top: 0;
    left: 60px;
    height: 120vh;
    width: 300px;
    max-width: calc(100% - 60px);
    z-index: 3;
}

.menu-content * {
    user-select: none;
}

.menu-categories > li > header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    height: 30px;
    padding: 5px;
    border-bottom: 1px solid;
}

.menu-category-list {
    list-style-type: none;
    overflow: auto;
    height: calc(100vh - 30px);
}

.menu-category-list > li {
    margin: 20px 0;
}

.menu-category-list > li > header {
    font-size: 1.1em;
    padding-left: 15px;
    line-height: 1.5em;
    font-weight: bold;
}

.menu-category > li {
    font-size: 1.0em;
    padding-left: 15px;
    line-height: 1.7em;
    cursor: pointer;
    list-style-type: none;
}

.menu-category-list::-webkit-scrollbar {
    width: 10px;
}

.menu-categories .selected-header {
    font-style: italic;
    pointer-events: none;
}